<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <img class="img-thumbnail" src="{{ selectedProduct?.image || 'https://via.placeholder.com/150' }}">
      </div>
      <div class="col-6">
        <h2>{{ selectedProduct?.name || 'Product Name'}}</h2>
        <p>{{ selectedProduct?.description || 'Product Description' }}</p>
        <strong> {{ selectedProduct?.price || 'Product Price' }}</strong>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <button type="button" class="btn btn-dark" routerLink="/shop" >
      Continue Shopping
    </button>
  </div>
</div>
